<template>
  <div class="header-bar">
    <div class="header-wrap">
      <div class="header-menu">
        <div class="btn-menu" @click.prevent="menuActive = !menuActive">
          <span>
            <i v-if="!menuActive">▼</i>
            <i v-if="menuActive">▲</i> Menu
          </span>
        </div>
        <div :class="{'dropdown': true, active: menuActive}">
          <router-link :to="{name: 'Home'}" tag="a">
            <span @click="menuActive = false">🏠 Home</span>
          </router-link>
          <router-link :to="{name: 'list'}" tag="a">
            <span @click="menuActive = false">🐣 My Community</span>
          </router-link>
        </div>
      </div>

      <div class="logo">
        <router-link :to="{name: 'Home'}" tag="a">Home</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data: () => ({
    menuActive: false
  })
};
</script>

<style lang="scss" scoped>
.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  position: relative;
  width: 100%;
}

.background-art {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-height: 100vh;
}

.logo {
  position: relative;
  font-family: monospace, sans-serif;

  a {
    display: block;
    padding: 10px 0 0;
  }

  img {
    width: 120px;
  }
}

.header-menu {
  display: flex;
  position: relative;
  user-select: none;

  .btn-menu {
    cursor: pointer;
    flex-direction: column;
    margin: auto;
    font-weight: 900;
    font-size: 11pt;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.dropdown {
  background: white;
  border-radius: 40px;
  display: none;
  position: absolute;
  padding: 20px 0;
  left: 0;
  top: 55px;
  width: 300px;
  z-index: 9999;

  &.active {
    display: block;
    box-shadow: 0 2px 20px -4px rgba(0, 0, 0, 0.2);
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    font-weight: 900;
    font-size: 11pt;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &.not-active {
      cursor: default;
    }
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
  margin: 0;
  width: 100%;
}
</style>
