<template>
  <div class="hello">
    <input type="text" v-model="msg" />
    <h3>Welcome to Embark!</h3>
    <p>See the <a href="https://embark.status.im/docs/" target="_blank">Embark's documentation</a> to see what you can do with Embark!</p>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js DApp'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
